# Compiled Object files
**/*.o

# Compiled Static libraries
**/*.a
**/*.lib

# Executables
*.exe
*.out
*.app
**/bin/*

# CMake
**/CMakeCache.txt
**/CMakeFiles
**/CMakeTmp
**/CMakeScripts
**/Makefile
**/Makefile.*
**/*.cmake
**/cmake_install.cmake
**/install_manifest.txt

# log files
**/*.log
